@use 'sass:math';
@function decimal-round ($number, $digits: 0, $mode: round) {
    $n: 1;
    // $number must be a number
    @if type-of($number) !=number {
        @warn '#{ $number } is not a number.';
        @return $number;
    }
    // $digits must be a unitless number
    @if type-of($digits) !=number {
        @warn '#{ $digits } is not a number.';
        @return $number;
    }
    @else if not unitless($digits) {
        @warn '#{ $digits } has a unit.';
        @return $number;
    }
    @if $digits>0 {
        @for $i from 1 through $digits {
            $n: $n * 10;
        }
    }
    @if $mode==round {
        @return round($number * $n) / $n;
    }
    @else if $mode==ceil {
        @return ceil($number * $n) / $n;
    }
    @else if $mode==floor {
        @return floor($number * $n) / $n;
    }
    @else {
        @warn '#{ $mode } is undefined keyword.';
        @return $number;
    }
}

@function change-px-to-vw($px, $w) {
    @return ($px * 100 / $w);
}

@function mobile-liquid($px) {
    @return calc(#{$px / 20}rem + #{change-px-to-vw($px / 2,414)}vw);
}
@function from-to($from,$to,$wfrom,$wto){
    @return calc(#{($from - ($wfrom * ($from - $to) / ($wfrom - $wto)))}px + #{100 * ($from - $to) / ($wfrom - $wto)}vw);
}
@function s($rem) {
    @return scl_calculation($rem1,$rem2,$rem3,$rem4,26);
}
@function to-number($value) {
    @if type-of($value) == 'number' {
      @return $value;
    } @else if type-of($value) != 'string' {
      @error 'Value for `to-number` should be a number or a string.';
    }

    $result: 0;
    $digits: 0;
    $minus: str-slice($value, 1, 1) == '-';
    $numbers: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);

    @for $i from if($minus, 2, 1) through str-length($value) {
      $character: str-slice($value, $i, $i);

      @if (index(map-keys($numbers), $character) or $character == '.') {
        @if $character == '.' {
          $digits: 1;
        } @else if $digits == 0 {
          $result: $result * 10 + map-get($numbers, $character);
        } @else {
          $digits: $digits * 10;
          $result: $result + map-get($numbers, $character) / $digits;
        }
      }
    }

    @return if($minus, -$result, $result);;
}
@function scl_calculation($rem1,$rem2,$rem3,$rem4,$fz){
    @if $rem4!='none'{
        @return (#{($rem1 / $fz)}rem) (#{($rem2 / $fz)}rem) (#{($rem3 / $fz)}rem) (#{($rem4 / $fz)}rem);
    }@else if $rem3!='none' {
        @return (#{($rem1 / $fz)}rem) (#{($rem2 / $fz)}rem) (#{($rem3 / $fz)}rem);
    }@else if $rem2!='none' {
        @return (#{($rem1 / $fz)}rem) (#{($rem2 / $fz)}rem);
    }@else{
        @return (#{($rem1 / $fz)}rem);
    }
}
@function sm($rem1,$rem2:'none',$rem3:'none',$rem4:'none') {
    @return scl_calculation($rem1,$rem2,$rem3,$rem4,18);
}
@function ss($rem1,$rem2:'none',$rem3:'none',$rem4:'none') {
    @return scl_calculation($rem1,$rem2,$rem3,$rem4,20);
}
// @mixin set_min($attr,$value,$value_min) {
//     $base: 1.25;//vw of body
//     $value1 : to-number($value);
//     @media(max-width: #{math.ceil($value_min * 100 / ($base * $value1))}px){
//         #{$attr}: #{$value_min}px
//     }
// }
@mixin sp ($breakpoint: 640){
    @media (max-width: #{$breakpoint}px) {
        @content;
    }
}

@mixin hide_text {
    text-indent: -9999px;
    overflow: hidden;
}

@mixin flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flexwrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

@mixin clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin mcenter {
    margin-left: auto;
    margin-right: auto;
}

@mixin transition($name1: null, $name2: null, $name3: null, $name4: null, $name5: null) {
    @if $name5 {
        transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease, $name4 0.3s ease, $name5 0.3s ease;
        -webkit-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease, $name4 0.3s ease, $name5 0.3s ease;
        -moz-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease, $name4 0.3s ease, $name5 0.3s ease;
        -ms-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease, $name4 0.3s ease, $name5 0.3s ease;
        -o-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease, $name4 0.3s ease, $name5 0.3s ease;
    }
    @else if $name4 {
        transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease, $name4 0.3s ease;
        -webkit-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease, $name4 0.3s ease;
        -moz-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease, $name4 0.3s ease;
        -ms-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease, $name4 0.3s ease;
        -o-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease, $name4 0.3s ease;
    }
    @else if $name3 {
        transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease;
        -webkit-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease;
        -moz-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease;
        -ms-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease;
        -o-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease;
    }
    @else if $name2 {
        transition: $name1 0.3s ease, $name2 0.3s ease;
        -webkit-transition: $name1 0.3s ease, $name2 0.3s ease;
        -moz-transition: $name1 0.3s ease, $name2 0.3s ease;
        -ms-transition: $name1 0.3s ease, $name2 0.3s ease;
        -o-transition: $name1 0.3s ease, $name2 0.3s ease;
    }
    @else if $name1 {
        transition: $name1 0.3s ease;
        -webkit-transition: $name1 0.3s ease;
        -moz-transition: $name1 0.3s ease;
        -ms-transition: $name1 0.3s ease;
        -o-transition: $name1 0.3s ease;
    }
    @else {
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
}
@mixin transition_long($name1: null, $name2: null, $name3: null, $name4: null, $name5: null) {
    @if $name5 {
        transition: $name1 0.5s ease, $name2 0.5s ease, $name3 0.5s ease, $name4 0.5s ease, $name5 0.5s ease;
        -webkit-transition: $name1 0.5s ease, $name2 0.5s ease, $name3 0.5s ease, $name4 0.5s ease, $name5 0.5s ease;
        -moz-transition: $name1 0.5s ease, $name2 0.5s ease, $name3 0.5s ease, $name4 0.5s ease, $name5 0.5s ease;
        -ms-transition: $name1 0.5s ease, $name2 0.5s ease, $name3 0.5s ease, $name4 0.5s ease, $name5 0.5s ease;
        -o-transition: $name1 0.5s ease, $name2 0.5s ease, $name3 0.5s ease, $name4 0.5s ease, $name5 0.5s ease;
    }
    @else if $name4 {
        transition: $name1 0.5s ease, $name2 0.5s ease, $name3 0.5s ease, $name4 0.5s ease;
        -webkit-transition: $name1 0.5s ease, $name2 0.5s ease, $name3 0.5s ease, $name4 0.5s ease;
        -moz-transition: $name1 0.5s ease, $name2 0.5s ease, $name3 0.5s ease, $name4 0.5s ease;
        -ms-transition: $name1 0.5s ease, $name2 0.5s ease, $name3 0.5s ease, $name4 0.5s ease;
        -o-transition: $name1 0.5s ease, $name2 0.5s ease, $name3 0.5s ease, $name4 0.5s ease;
    }
    @else if $name3 {
        transition: $name1 0.5s ease, $name2 0.5s ease, $name3 0.5s ease;
        -webkit-transition: $name1 0.5s ease, $name2 0.5s ease, $name3 0.5s ease;
        -moz-transition: $name1 0.5s ease, $name2 0.5s ease, $name3 0.5s ease;
        -ms-transition: $name1 0.5s ease, $name2 0.5s ease, $name3 0.5s ease;
        -o-transition: $name1 0.5s ease, $name2 0.5s ease, $name3 0.5s ease;
    }
    @else if $name2 {
        transition: $name1 0.5s ease, $name2 0.5s ease;
        -webkit-transition: $name1 0.5s ease, $name2 0.5s ease;
        -moz-transition: $name1 0.5s ease, $name2 0.5s ease;
        -ms-transition: $name1 0.5s ease, $name2 0.5s ease;
        -o-transition: $name1 0.5s ease, $name2 0.5s ease;
    }
    @else if $name1 {
        transition: $name1 0.5s ease;
        -webkit-transition: $name1 0.5s ease;
        -moz-transition: $name1 0.5s ease;
        -ms-transition: $name1 0.5s ease;
        -o-transition: $name1 0.5s ease;
    }
    @else {
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
}
@mixin transition-delay($timing){
    transition-delay: $timing;
    -webkit-transition-delay: $timing;
    -moz-transition-delay: $timing;
}

@mixin background-size($name1, $name2: null, $name3: null, $name4: null, $name5: null) {
    @if $name5 {
        background-size: $name1, $name2, $name3, $name4, $name5;
        -webkit-background-size: $name1, $name2, $name3, $name4, $name5;
        -moz-background-size: $name1, $name2, $name3, $name4, $name5;
    }
    @else if $name4 {
        background-size: $name1, $name2, $name3, $name4;
        -webkit-background-size: $name1, $name2, $name3, $name4;
        -moz-background-size: $name1, $name2, $name3, $name4;
    }
    @else if $name3 {
        background-size: $name1, $name2, $name3;
        -webkit-background-size: $name1, $name2, $name3;
        -moz-background-size: $name1, $name2, $name3;
    }
    @else if $name2 {
        background-size: $name1, $name2;
        -webkit-background-size: $name1, $name2;
        -moz-background-size: $name1, $name2;
    }
    @else {
        background-size: $name1;
        -webkit-background-size: $name1;
        -moz-background-size: $name1;
    }
}

@mixin background-image($url, $repeat: null, $pos: null) {
    @if $pos {
        background-image: url($url);
        background-repeat: $repeat;
        background-position: $pos;
    }
    @else if $repeat {
        background-image: url($url);
        background-repeat: $repeat;
    }
    @else {
        background-image: url($url);
    }
}

@mixin transform($value) {
    transform: $value;
    -webkit-transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
}
@mixin scale($value1,$value2: $value1) {
    @include transform(scale($value1,$value2));
}
@mixin rotate($value1) {
    @include transform(rotate($value1));
}
@mixin translate($value1,$value2: $value1) {
    @include transform(translate($value1,$value2));
}

@mixin transform-origin($value) {
    transform-origin: $value;
    -webkit-transform-origin: $value;
    -moz-transform-origin: $value;
    -ms-transform-origin: $value;
    -o-transform-origin: $value;
}

@mixin border-radius($value) {
    border-radius: $value;
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
}

@mixin padding-center($height, $text_height, $top_adjust: 0, $bottom_adjust: 0) {
    padding-bottom: (decimal-round(($height - $text_height) * 5) / 10) - $top_adjust + $bottom_adjust;
    padding-top: $height - $text_height - (decimal-round(($height - $text_height) * 5) / 10) - $bottom_adjust + $top_adjust;
}

@mixin appearance_none {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
@mixin letter_spacing($value) {
    letter-spacing: ($value / 1000);
}
@mixin tranform_center($value : all) {
    @if ($value == left){
        @include transform(translate(-50%,0));
        left: 50%;
    }@else if ($value == top){
        @include transform(translate(0,-50%));
        top: 50%;
    }@else{
        @include transform(translate(-50%,-50%));
        top: 50%;
        left: 50%;
    }
}
@mixin box-shadow($value){
    box-shadow: $value;
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
}
@mixin media(
	$breakpoint,
	$width: null
	) {
	@if $breakpoint == max {
		@media only screen and (max-width: $width) {
			@content;
		}
	}
	@else if $breakpoint == min {
		@media only screen and (min-width: $width) {
			@content;
		}
	}
	@else {
		$breakpoint: map_get($breakpointMap, $breakpoint);
		@media only screen and (max-width: $breakpoint) {
			@content;
		}
	}
}
