
script(src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script.
	if (typeof jQuery == 'undefined') {
		document.write(unescape("%3Cscript src!='/<?= $dir; ?>assets/js/jquery.min.js'%3E%3C/script%3E"));
	}

script(src!='/<?= $dir; ?>assets/js/function.js')
script(src!='/<?= $dir; ?>assets/js/slick.min.js')
script(src!='/<?= $dir; ?>assets/js/jquery.easing.1.3.js')
script(src!='/<?= $dir; ?>assets/js/smartpaginator.js')
script(src!='/<?= $dir; ?>assets/js/wow.min.js')
script(src!='/<?= $dir; ?>assets/js/main.js')
script.
