section.equipment
	.container
		.equipment__inner
			.equipment__inner__ttl
				h3.align_center.animation.fadeInUp
					span 連携している高次医療機関
				p.animation.fadeInUp より専門的な検査・治療が必要だと思われる場合は、連携している高次医療機関をご紹介いたします。<br>どうぞ安心してご来院ください。
			.equipment__list.mb__0
				.equipment__item.animation.fadeInLft
					a(href="" target="_blank"): img(src="https://placehold.jp/320x120.png?text=" alt="")
				.equipment__item.animation.fadeInLft
					a(href="" target="_blank"): img(src="https://placehold.jp/320x120.png?text=" alt="")
				.equipment__item.animation.fadeInLft
					a(href="" target="_blank"): img(src="https://placehold.jp/320x120.png?text=" alt="")
				.equipment__item.animation.fadeInLft
					a(href="" target="_blank"): img(src="https://placehold.jp/320x120.png?text=" alt="")
				.equipment__item.animation.fadeInLft
					a(href="" target="_blank"): img(src="https://placehold.jp/320x120.png?text=" alt="")
