section.service_list
	.container
		.service_list__ttl
			h2.animation.fadeInUp 当院で行っている診療
		.service_list__cnt.animation.fadeInUp
			ul
				li
					a.btn__arrow.btn__arrow--circle(href='#service_1') むし歯
				li
					a.btn__arrow.btn__arrow--circle(href='#service_2') 根管治療
				li
					a.btn__arrow.btn__arrow--circle(href='#service_3') 歯周病
				li
					a.btn__arrow.btn__arrow--circle(href='#service_4') 入れ歯(義歯)
				li
					a.btn__arrow.btn__arrow--circle(href='#service_5') 小児歯科
				li
					a.btn__arrow.btn__arrow--circle(href='#service_6') 予防・クリーニング
				li
					a.btn__arrow.btn__arrow--circle(href='#service_7') 歯科口腔外科
				li
					a.btn__arrow.btn__arrow--circle(href='#service_8') 矯正歯科・小児矯正
				//- li
					a.btn__arrow.btn__arrow--circle(href='#service_8') 小児矯正
				li
					a.btn__arrow.btn__arrow--circle(href='#service_9') 審美治療
				li
					a.btn__arrow.btn__arrow--circle(href='#service_10') ホワイトニング
				li
					a.btn__arrow.btn__arrow--circle(href='#service_11') インプラント
