section.service_blog
	.container
		#service_1.blog__row
			.blog__cnt.animation.fadeInLft
				h3 むし歯
				ul.blog__cnt__list
					li 歯が痛い
					li 食べ物や飲み物がしみる
				p
					| 初期のむし歯は経過観察で済むこともありますが、むし歯が進行して歯に穴が開いてしまうと、削るなどの治療が必要になります。
					br
					| 治療期間や治療費を抑えるためにも、できるだけ早めに治療を始めましょう。また、歯は削る量や回数が多くなるほどもろくなるため、治療を繰り返さないことが大切です。むし歯ができてしまった「原因」をきちんと突き止め、症状だけでなく原因そのものを改善するアプローチを行います。
			.blog__img.animation.fadeInRgt
				.blog__img__mask
					picture
						source(media='(max-width:750px)' srcset='')
						img(src!='/<?= $dir; ?>assets/images/main/service01.jpg' alt='')
			.blog__thumb.animation.fadeInUp
				.blog__thumb__cnt
					h3 なるべく削らずに、歯を残す治療
					p
						| 歯は削る量や回数が多くなるほど弱くなるため、治療を繰り返さないことが大切です。 当院のむし歯治療は、取り残しがないよう感染部分を徹底的に除去し、再発を抑えます。またむし歯ができてしまった原因を突き止め、症状だけでなく原因そのものを取り除くアプローチを行います。「予防ケアまでを含めたむし歯治療」が当院の特徴です。
				.blog__thumb__img
					picture
						source(media='(max-width:750px)' srcset='')
						img(src!='/<?= $dir; ?>assets/images/main/dummy.jpg')
		#service_2.blog__row
			.blog__img.animation.fadeInLft
				.blog__img__mask
					picture
						source(media='(max-width:750px)' srcset='')
						img(src!='/<?= $dir; ?>assets/images/main/service02.jpg' alt='')
			.blog__cnt.animation.fadeInRgt
				h3 根管治療
				ul.blog__cnt__list
					li 歯がズキズキと痛む
					li 歯の根の治療がなかなか終わらない
				p
					| 根管治療とは、歯の根っこの治療のことです。
					br
					| むし歯は重症化すると、歯の根っこにまで感染が広がって炎症を起こし、強い痛みが出ます。
					br
					| 根管治療では、むし歯菌に感染した根っこを取り除き、管の中を殺菌・消毒し、薬剤を詰めて密閉することで無菌に近い状態にします。
					br
					| 昔は抜歯以外に選択肢がありませんでしたが、根管治療によって、歯を残すことができる可能性が広がっています。
		#service_3.blog__row
			.blog__cnt.animation.fadeInLft
				h3 歯周病
				ul.blog__cnt__list
					li 歯ぐきが腫れている
					li 歯磨きすると血が出る
				p
					| 歯周病は、歯ぐきや歯を支えるまわりの組織が細菌によって炎症を起こす病気です。
					br
					| 歯ぐきの炎症から始まり、進行すると顎の骨を溶かし、歯が支えられなくなるといった口腔内のトラブルを引き起こします。また細菌によって誤嚥性肺炎や糖尿病、心疾患、脳梗塞、認知症などの重篤な病気を引き起こしたり悪化させることもあります。
					br
					| 歯周病の治療は定期検診・クリーニング、毎日の丁寧な歯磨きがポイントです。気になる症状がありましたら、お早めの受診をおすすめいたします。
			.blog__img.animation.fadeInRgt
				.blog__img__mask
					picture
						source(media='(max-width:750px)' srcset='')
						img(src!='/<?= $dir; ?>assets/images/main/service03.jpg' alt='')
		#service_4.blog__row
			.blog__img.animation.fadeInLft
				.blog__img__mask
					picture
						source(media='(max-width:750px)' srcset='')
						img(src!='/<?= $dir; ?>assets/images/main/service04.jpg' alt='')
			.blog__cnt.animation.fadeInRgt
				h3 入れ歯(義歯)
				ul.blog__cnt__list
					li 入れ歯がズレる
					li 入れ歯を新しくしたい
				p
					| 歯を失って、そのままにしていませんか？
					br
					| 入れ歯などで補わないままだと、かみ合わせのバランスが悪くなり、むし歯や歯周病をはじめ口腔内のさまざまなトラブルを引き起こします。
					br
					| 当院では患者さまのご希望をきちんとうかがい、お口にぴったり合う義歯を製作いたします。
					br
					| 他院で製作した義歯の調整も承っていますので、お気軽にご相談ください。
		#service_5.blog__row
			.blog__cnt.animation.fadeInLft
				h3 小児歯科
				ul.blog__cnt__list
					li 乳歯のむし歯を治したい
					li 子どものむし歯を予防したい
				p
					| お子さまの歯は大人の歯よりも弱く、むし歯の進行も早いことが特徴です。
					br
					| そのため、「むし歯かな？」と思ったら早めに治療しましょう。
					br
					| 乳歯のむし歯を放っておくと、永久歯もむし歯になる・まっすぐ生えてこないなど、将来的にも悪影響を及ぼします。
					br
					| 当院では歯科医院への苦手意識を植え付けないように、治療を無理やり行うことはいたしません。お子さまお一人お一人のペースに合わせて治療を進めますので、おまかせください。
			.blog__img.animation.fadeInRgt
				.blog__img__mask
					picture
						source(media='(max-width:750px)' srcset='')
						img(src!='/<?= $dir; ?>assets/images/main/service05.jpg' alt='')
		#service_6.blog__row
			.blog__img.animation.fadeInLft
				.blog__img__mask
					picture
						source(media='(max-width:750px)' srcset='')
						img(src!='/<?= $dir; ?>assets/images/main/service06.jpg' alt='')
			.blog__cnt.animation.fadeInRgt
				h3 予防・クリーニング
				ul.blog__cnt__list
					li 大切な歯を守りたい
					li むし歯を再発させたくない
				p
					| 通院のたびに歯科医師や歯科衛生士が変わって緊張してしまったり、同じことを何度も伝えなければならなかったりと、不安やわずらわしさを感じたことはありませんか？
					br
					| 当院では、患者さまとの信頼関係を築き、不安を少しでも軽減できるよう、歯科衛生士の「担当制」を採用しております。
					br
					| なお、当院の歯科衛生士はいずれも多くの経験をもち、お口の健康を維持するための知識があります。気になることは遠慮なくご質問ください。
		#service_7.blog__row
			.blog__cnt.animation.fadeInLft
				h3 歯科口腔外科
				ul.blog__cnt__list
					li 口内炎が治らない
					li 口を開けると痛い
				p
					| 歯科口腔外科では、主にお口の中の外科処置を行います。歯ぐきの奥深くに埋まっている親知らずの抜歯をはじめ、口腔内のケガや歯の周辺組織の炎症、顎の骨折、腫瘍、口腔がんなどの診断と治療を行います。
					br
					| 出血を伴う手術を行うことが多いため、ご加療中の方には、治療を考慮しながら症状の改善をめざします。お口の中の違和感や顎の痛み、親知らずが気になる場合は、早めにご相談ください。
			.blog__img.animation.fadeInRgt
				.blog__img__mask
					picture
						source(media='(max-width:750px)' srcset='')
						img(src!='/<?= $dir; ?>assets/images/main/service07.jpg' alt='')
		#service_8.blog__row
			.blog__img.animation.fadeInLft
				.blog__img__mask
					picture
						source(media='(max-width:750px)' srcset='')
						img(src!='/<?= $dir; ?>assets/images/main/service08.jpg' alt='')
			.blog__cnt.animation.fadeInRgt
				h3 矯正歯科・小児矯正
				ul.blog__cnt__list
					li 口元の見た目を良くしたい
					li 子どもの歯並びを整えたい
				p
					| 小児矯正は永久歯が生え始める6、7歳頃に、顎の成長に合わせて矯正を始めることがおすすめです。顎の発育が促されて歯の並ぶスペースができ、将来歯を抜かずに美しい歯並びとバランスのよいかみ合わせに導くことができます。
					br
					| また、子どもの時に適切な治療を行うことで、永久歯の矯正治療の必要がなくなる可能性も高くなります。
		#service_9.blog__row
			.blog__cnt.animation.fadeInLft
				h3
					| 審美治療
					span.label 自由診療
				ul.blog__cnt__list
					li 金属の詰め物、被せ物を白くしたい
					li 詰め物、被せ物の金属アレルギーが気になる
				p
					| 顔全体の印象は、口元で決まります。
					br
					| 当院では見た目の美しさはもちろん、「噛む」「話す」といった機能面のバランスも重視し、できる限り自然で健康的な状態をめざしています。症状やライフスタイル、ご予算などに応じてご提案いたしますので、金属の詰め物や被せ物を白くしたい、歯の隙間が気になるなど、ご希望をお聞かせください。
			.blog__img.animation.fadeInRgt
				.blog__img__mask
					picture
						source(media='(max-width:750px)' srcset='')
						img(src!='/<?= $dir; ?>assets/images/main/service09.jpg' alt='')
		#service_10.blog__row
			.blog__img.animation.fadeInLft
				.blog__img__mask
					picture
						source(media='(max-width:750px)' srcset='')
						img(src!='/<?= $dir; ?>assets/images/main/service10.jpg' alt='')
			.blog__cnt.animation.fadeInRgt
				h3
					| ホワイトニング
					span.label 自由診療
				ul.blog__cnt__list
					li 歯の黄ばみが気になる
					li 自然な感じの白い歯にしたい
				p
					| 歯の黄ばみは、加齢や遺伝、食生活などの影響で起こります。
					br
					| ホワイトニングは、歯の黄ばみを削ることなく、専用の薬剤で白さを取り戻す治療です。
					br
					| 当院では歯科医院で行う「オフィスホワイトニング」と、ご自宅で行う「ホームホワイトニング」があり、ご希望の白さや歯の状態、ライフスタイルによってお選びいただいています。
		#service_11.blog__row
			.blog__cnt.animation.fadeInLft
				h3
					| インプラント
					span.label 自由診療
				ul.blog__cnt__list
					li 歯を失った
					li 入れ歯が合わない、噛めない
					li 自然な見た目の義歯にしたい
					li インプラント治療に興味がある
				p.mb__20
					| 自由診療です　治療費用〇〇円～
					br
					|  定期的なメンテナンスが必要です
				p
					| インプラントは、義歯のなかでも自分の歯に近い機能を再現できることが特徴です。歯を失った部分の顎の骨に人工歯根を埋め込み、そこにセラミックなどの人工歯を装着するためずれたり外れたりすることがなく、部分入れ歯のような留め具も必要ありません。
					br
					| また、メンテナンスをきちんと行うことで、ほかの義歯に比べても長期的な使用が可能です。ただし顎の骨に人工歯根を埋め込む外科手術を伴いますので、お身体や顎の骨の状態をしっかり見極め、安全性を優先して治療を進めます。
			.blog__img.animation.fadeInRgt
				.blog__img__mask
					picture
						source(media='(max-width:750px)' srcset='')
						img(src!='/<?= $dir; ?>assets/images/main/dummy.jpg' alt='')
