.page-info__right.detail
	ul.list-new
		li
			.meta.style-2
				span 2021.01.19
				|  新着情報
			.link
				span
					| 情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。
	.page-info-detail
		.thumb.text-center
			img(src!='/<?= $dir; ?>assets/images/info-detail.jpg' alt='')
		.content
			h2.title
				| どんな状態でも諦めないでください
				br
				| 最善と思われる治療を尽くします。
			h3.sub
				| どんな状態でも諦めないでください
				br
				| 最善と思われる治療を尽くします。
			.text
				h3
					| どんな状態でも諦めないでください
					br
					| 最善と思われる治療を尽くします。
				h4
					| どんな状態でも諦めないでください
					br
					| 最善と思われる治療を尽くします。
				h5
					| どんな状態でも諦めないでください
					br
					| 最善と思われる治療を尽くします。
			.bottom
				h5
					| どんな状態でも諦めないでください
					br
					| 最善と思われる治療を尽くします。
				p
					| 情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。意地を通せば窮屈だ。とかくに人の世は住みにくい。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。意地を通せば窮屈だ。山路を登りながら、こう考えた。智に働けば角が立つ。
	include _pagenavi
