.page-info__right
	ul.list-new
		li
			a(href='#')
				.meta.style-2
					span 2021.01.19
					|  新着情報
			.link
				a(href='#')
				a(href='post.html')
					| 情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。
		li
			a(href='#')
				.meta.style-2
					span 2021.01.19
					|  新着情報
			.link
				a(href='#')
				a(href='post.html')
					| 情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。
		li
			a(href='#')
				.meta.style-2
					span 2021.01.19
					|  新着情報
			.link
				a(href='#')
				a(href='post.html')
					| 情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。
		li
			a(href='#')
				.meta.style-2
					span 2021.01.19
					|  新着情報
			.link
				a(href='#')
				a(href='post.html')
					| 情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。
		li
			a(href='#')
				.meta.style-2
					span 2021.01.19
					|  新着情報
			.link
				a(href='#')
				a(href='post.html')
					| 情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。とかくに人の世は住みにくい。
	include _pager
