ul.navigation
	li.prev
		a(href='#')
			svg(width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg')
				g(clip-path='url(#clip0)')
					path(d='M5.71001 10.35L0.710007 5.35L5.71001 0.349998' stroke='#D8D8D8' stroke-miterlimit='10')
				defs
					clippath#clip0
						rect(width='6.06' height='10.71' fill='white')
			| 前の記事
	li.name
		a.link(href='./') 一覧を見る
	li.next
		a(href='#')
			| 次の記事
			svg(width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M0.349991 0.360001L5.34999 5.36L0.349991 10.36' stroke='#D8D8D8' stroke-miterlimit='10')
