
ul.pagination
	li.pagination__item.text
		a(href='#')
			svg(width='12' height='11' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M10.71 10.35L5.71001 5.35L10.71 0.349998' stroke='#D8D8D8' stroke-miterlimit='10')
				path(d='M5.71001 10.35L0.710007 5.35L5.71001 0.349998' stroke='#D8D8D8' stroke-miterlimit='10')
			span 最初へ
	li.pagination__item.text.right
		a(href='#')
			svg(width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg')
				g(clip-path='url(#clip0)')
					path(d='M5.71001 10.35L0.710007 5.35L5.71001 0.349998' stroke='#D8D8D8' stroke-miterlimit='10')
				defs
					clippath#clip0
						rect(width='6.06' height='10.71' fill='white')
			span  前へ
	li.pagination__item.active
		a.number(href='#') 1
	li.pagination__item
		a.number(href='#') 2
	li.pagination__item
		a.number(href='#') 3
	li.pagination__item
		a.number(href='#') 4
	li.pagination__item.text.left
		a(href='#')
			span 次へ
			svg(width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M0.349991 0.360001L5.34999 5.36L0.349991 10.36' stroke='#D8D8D8' stroke-miterlimit='10')
	li.pagination__item.text
		a(href='#')
			span 最後へ
			svg(width='12' height='11' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M0.710007 0.349998L5.71001 5.35L0.710007 10.35' stroke='#D8D8D8' stroke-miterlimit='10')
				path(d='M5.71001 0.349998L10.71 5.35L5.71001 10.35' stroke='#D8D8D8' stroke-miterlimit='10')
