.page-info__left
	.item
		.title CATEGORY
		p
			a(href='#') 新着情報（00）
		p
			a(href='#') コラム（00）
	.item
		.title ARCHIVE
		p
			a(href='#') 2020年8月（00）
		p
			a(href='#') 2020年8月（00）
		p.none
			a(href='#') 2020年8月（00）
		p.none
			a(href='#') 2020年8月（00）
		p.none
			a(href='#') 2020年8月（00）
		p.none
			a(href='#') 2020年8月（00）
