@charset "UTF-8";
:root {
  --main-color: #345d7c;
  --sub-color: #345d7c;
  --line-color: #e3f8fd;
  --link-color: #231815;
  --hover-color: rgba(181, 228, 255, 0.3);
  --ttl-font: "Noto Serif JP", "Yu Mincho", "ヒラギノ角ゴ Pro W3", メイリオ, sans-serif;
}

@media (max-width: 768px) {
  .is-pc {
    display: none;
  }
}

@media (min-width: 769px) {
  .is-sp {
    display: none;
  }
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

/* サイトマップページ用CSS */
.p-sitemap {
  margin-bottom: 90px;
  /* h2タグ */
  /* サイトマップ一覧（リスト） */
}
.p-sitemap_inner {
  max-width: 1024px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .p-sitemap_inner-s {
    padding: 0 10px;
  }
}
.p-sitemap_border {
  display: flex;
  align-items: center;
}
.p-sitemap_border::before, .p-sitemap_border::after {
  content: "";
  display: block;
  flex-grow: 1;
  margin: 0 1em;
  height: 2px;
  background-color: var(--main-color);
}
.p-sitemap_ttl {
  font-family: var(--ttl-font);
  font-size: 30px;
  font-weight: 300;
  background: var(--sub-color);
  color: #fff;
  padding: 7px 20px;
  margin: 20px 0 30px 0;
}
@media (max-width: 768px) {
  .p-sitemap_ttl {
    font-size: 24px;
    line-height: 1.3em;
    padding: 12px 20px;
    margin-bottom: 24px;
  }
}
.p-sitemap_list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.p-sitemap_list li {
  border-bottom: dashed 1px var(--line-color);
  margin-bottom: 0;
}
.p-sitemap_list li:hover {
  background: var(--hover-color);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.p-sitemap_list li p {
  padding: 0 0 0 2em;
  font-size: 16px;
  position: relative;
  line-height: 50px;
  margin: 0 auto;
}
.p-sitemap_list li p::before {
  position: absolute;
  left: 0px;
  top: 0px;
  content: "●";
  font-size: 21px;
  line-height: 50px;
  color: var(--main-color);
}
.p-sitemap_list li p a {
  display: block;
  text-decoration: none;
  color: var(--link-color);
}
.p-sitemap_list li p a span {
  display: block;
  line-height: 1.4em;
  padding: 0.8em 0;
}