.m-blog_main
	.m-blog_heading
		.m-blog_option
			p.m-blog_category: span コラム
			time.m-blog_date: span 2020-08-28
		h1.m-blog_title 記事タイトル記事タイトル記事タイトル
		figure.m-blog_catch: img(src="https://placehold.jp/600x400.png" alt="")
	.m-blog_body
		.m-inner
			h1 見出し1見出し1見出し1見出し1見出し1見出し1見出し1見出し1見出し1
			h2 見出し2見出し2見出し2見出し2見出し2見出し2見出し2見出し2見出し2見出し2見出し2
			h3 見出し3見出し3見出し3見出し3
			h4 見出し4
			h5 見出し5
			h6 見出し6
			ul
				li
					strong ul テスト入力
				li
					em テスト入力２
			ol
				li
					strong ol いいきいいう
				li いいいいいい」
			p(style='text-align: left;') 左揃え
			figure(style='text-align: center;')
				| 中央揃え
				img.alignnone.size-medium.wp-image-26(src='https://placehold.jp/600x200.png', alt='テスト用です。')
			p(style='text-align: right;') 右揃え
			a(href='/news/17/') リンク
			del 打消し線
			hr
			span(style='color: #33cccc;') カラーフォント
			| テキストとしてペースト
			p(style='padding-left: 40px;') インデント
			
			iframe(src='https://www.youtube.com/embed/4ytk_OgM9Dc', allowfullscreen='allowfullscreen', width='560', height='315', frameborder='0')

			iframe(style='border: 0;', src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.171597490688!2d139.70870861525918!3d35.69739468019065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cc2c9de75ad%3A0xd3b769694c085d4!2z5pel5pys44OT44K544Kr5qCq5byP5Lya56S-!5e0!3m2!1sja!2sjp!4v1598422928478!5m2!1sja!2sjp', allowfullscreen='allowfullscreen', width='600', height='450', frameborder='0')
	nav.m-pager
		ul.m-pager_list
			li.m-pager_item.is-prev
				a(href="" rel="prev"): span 前の記事
			li.m-pager_item.is-index
				a(href="./"): span 一覧を見る
			li.m-pager_item.is-disable
				a(href="" rel="next"): span 次の記事
