aside.m-blog_navi
	section.m-blog_naviBlk
		h3.m-blog_naviTtl.is-category カテゴリ
		ul.m-blog_naviList
			li: a.line(href!='/<?= $dir; ?>blog/category.html') お知らせ #[span （00件）]
			li: a.line(href!='/<?= $dir; ?>blog/category.html') コラム #[span （00件）]
	section.m-blog_naviBlk
		h3.m-blog_naviTtl.is-archive 月別アーカイブ
		ul.m-blog_naviList
			li: a.line(href!='/<?= $dir; ?>blog/category.html') 2020年8月 #[span （00件）]
			li: a.line(href!='/<?= $dir; ?>blog/category.html') 2020年7月 #[span （00件）]
			li: a.line(href!='/<?= $dir; ?>blog/category.html') 2020年6月 #[span （00件）]
			li: a.line(href!='/<?= $dir; ?>blog/category.html') 2020年5月 #[span （00件）]
			li: a.line(href!='/<?= $dir; ?>blog/category.html') 2020年4月 #[span （00件）]
			li: a.line(href!='/<?= $dir; ?>blog/category.html') 2019年12月 #[span （00件）]
