section.banner
	.container
		ul
			li.animation.fadeInUp
				a(href='#')
					img(src!='/<?= $dir; ?>assets/images/main/banner_dummy.jpg' alt='')
			li.animation.fadeInDown
				a(href='#')
					img(src!='/<?= $dir; ?>assets/images/main/banner_dummy.jpg' alt='')
			li.animation.fadeInUp
				a(href='#')
					img(src!='/<?= $dir; ?>assets/images/main/banner_dummy.jpg' alt='')
