section.calendar
	.container
		.calendar__inner
			.calendar__ttl
				h2.sub_ttl.animation.fadeInLft 診療カレンダー
				p.is-en.animation.fadeInLft CALENDAR
			.calendar__cnt
				#calendar_1.calendar__col.animation.fadeInLft
				#calendar_2.calendar__col.animation.fadeInRgt.pc_only
			.see_more.align_rgt
				a.btn__arrow(href='https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FTokyo&src=aHQzamxmYWFjNWxmZDYyNjN1bGZoNHRxbDhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23B39DDB&color=%230B8043&showTitle=0&title=VISCA%20CLINIC%20%E3%81%AE%E8%A8%BA%E7%99%82%E3%82%AB%E3%83%AC%E3%83%B3%E3%83%80%E3%83%BC&showTabs=0&showPrint=0&showTz=0&showCalendars=0&showNav=1&showDate=1' target="_blank") カレンダーはこちら
