section.introduce
  .container
    .introduce__row
      .section__ttl.align_lft.sp_top_pos
        p.is-en.pc__mb__0.animation.fadeInLft GREETING
        h2.sub_ttl.animation.fadeInLft ごあいさつ
      .introduce__row__inner.introduce__row__inner--r150
        .introduce__text.pc__pt__40.pc__pr__15
          .introduce__col__ttl.animation.fadeInUp.sp_align_center
            | これからも地域の皆さまに
            br.sp_only
            | 親しまれ
            br.pc_only
            | 頼ってもらえる
            br.sp_only
            | 歯医者さんをめざして
          .introduce__col__cnt.animation.fadeInUp
            p
              | 【ビスカ歯科クリニック】は私の父が開院して以来、
              br.pc_only
              | この地域の方々の「お口の健康」を守るお手伝いをしてまいりました。
              br
              | 私自身もこの地で生まれ、地元の皆さまに温かく見守られて育ちましたので、
              br
              | こうして医療で貢献できることに嬉しい気持ちでいっぱいです。
            p
              | これからも「患者さまファースト」の想いを大切に、カウンセリングには十分に時間をかけ、新しい技術や治療方法も取り入れながら、皆さまに少しでもご恩返しができれば幸いです。
            p
              | 何でも相談できるようなアットホームな雰囲気でお迎えいたしますので、初めての方でも、遊びに来るように気軽にいらしてください。
              br.sp_only
              | お待ちしております。
          .caption.sp_only
            | 院長
            span.txt_big 山田　太郎
        .introduce__img.animation.fadeInRgt
          figure.introduce__mask.introduce__mask--mtop30
            img(src!='/<?= $dir; ?>assets/images/main/greeting_img.jpg' alt='greeting')
            figcaption.pc__pl__85
              | 院長
              span.txt_big 山田　太郎
      .introduce__news.animation.fadeInUp
        .introduce__news__inner
          .introduce__news__ttl 院長経歴
          .introduce__news__cnt
            ul
              li
                p.date 2021.00.00
                p.link
                  a(href='#') テキストテキストテキストテキストテキストテキストテキストテキスト
              li
                p.date 2021.00.00
                p.link
                  a(href='#') テキストテキストテキストテキストテキストテキストテキストテキスト
              li
                p.date 2021.00.00
                p.link
                  a(href='#') テキストテキストテキストテキストテキストテキストテキストテキスト
              li
                p.date 2021.00.00
                p.link
                  a(href='#') テキストテキストテキストテキストテキストテキストテキストテキスト
        .news__view_more
          a(href='/staff/') 院長・スタッフはこちら
    .introduce__row
      .section__ttl.align_rgt.pc__mb__90.sp__mb__60
        p.is-en.pc__mb__0.animation.fadeInLft FEATURES
        h2.sub_ttl.animation.fadeInLft 当院の特徴
      .introduce__row__inner
        .introduce__text.animation.fadeInLft
          .introduce__col__number
            span 01
          .introduce__col__ttl.introduce__col__ttl--fz24
            | ご自身の「歯を残す」ために
            br
            | 将来を見据えた治療を
          .introduce__col__cnt
            p
              | 歯科医院＝「痛くなってから通う場所」「痛い治療をするところ」というイメージがありませんか？
              br
              | これからの歯科医院は「歯を守るため、生涯ご自身の歯で生活できるように、メンテナンスをする場所」です。
              br
              | お子さまにはむし歯にならないためのお口の環境づくりを、大人の方にはこれから先、1本でも多く歯を残すための予防ケアのお手伝いをいたします。
          .news__view_more
            a(href='#') 詳しくはこちら
        .introduce__img.animation.fadeInRgt
          figure.introduce__mask
            img.mask_small(src!='/<?= $dir; ?>assets/images/main/feature_01.jpg' alt='greeting')
      .introduce__row__inner
        .introduce__img.animation.fadeInUp
          figure.introduce__mask
            img.mask_small(src!='/<?= $dir; ?>assets/images/main/feature_02.jpg' alt='greeting')
        .introduce__text.animation.fadeInDown
          .introduce__col__number
            span 02
          .introduce__col__ttl.introduce__col__ttl--fz24
            | 症状の原因から考える
            br
            | 根本からの治療をご提案します
          .introduce__col__cnt
            p
              | 的確な診査・診断のためには、目で直接確認できない情報も重要です。
              br
              | 当院では、レントゲンによる歯・顎・骨の状態の撮影と、口腔内写真の撮影を徹底しております。
              br
              | 得た情報はお一人お一人のご希望に合わせて治療計画を立て、目で見てわかりやすくご説明してまいります。
              br
              | 少しでもわからないことや不安なことがございましたら、お気軽にご質問ください。
          .news__view_more
            a(href='#') 詳しくはこちら
      .introduce__row__inner
        .introduce__text.animation.fadeInLft
          .introduce__col__number
            span 03
          .introduce__col__ttl.introduce__col__ttl--fz24
            | 衛生士担当制による
            br
            | 充実のアフターフォロー
          .introduce__col__cnt
            p
              | クリーニングで来院するたびに担当者が変わると、何度も同じことを話すのがおっくうに感じた経験はありませんか？
              br
              | 当院では、患者さまの口腔内を継続的に観察しながらケアできるよう、「歯科衛生士の担当制」を採用しています。治療する側・される側という考えではなく、信頼関係を大切にしています。
              br
              | お一人お一人のお口に合わせた口腔ケアについて、プロの目線からアドバイスいたしますので、お気軽にご相談ください。
          .news__view_more
            a(href='#') 詳しくはこちら
        .introduce__img.animation.fadeInRgt
          figure.introduce__mask
            img.mask_small(src!='/<?= $dir; ?>assets/images/main/feature_03.jpg' alt='greeting')
      .introduce__row__inner
        .introduce__img.animation.fadeInUp
          figure.introduce__mask
            img.mask_small(src!='/<?= $dir; ?>assets/images/main/feature_04.jpg' alt='greeting')
        .introduce__text.animation.fadeInDown
          .introduce__col__number
            span 04
          .introduce__col__ttl.introduce__col__ttl--fz24
            | “衛生管理と緊急対応”
            br
            |  患者さまが安心して
            br.sp_only
            | 治療を受けられる
            br.pc_only
            |  環境づくり
          .introduce__col__cnt
            p
              | 治療に使用した器具は、滅菌パックに入れて洗浄・滅菌を行うことを徹底しております。
              br
              | 滅菌器は世界高基準であるクラスBのものを採用し、複雑な構造になっているハンドピース（タービン）は専用の滅菌器にて滅菌処理を行うなど、ハイレベルな衛生管理を徹底。「外来環(歯科外来診療環境体制)」という厚生労働省が定めた医療機関の設備基準もクリアしています。
              br
              | また、AEDなど緊急時の対応設備も完備し、すべての患者さまに安心して治療を受けていただける環境づくりを心がけております。
          .news__view_more
            a(href='#') 詳しくはこちら
