section.news
	.container
		.news__head
			h2.sub_ttl.animation.fadeInLft お知らせ
			p.is-en.animation.fadeInLft NEWS
		.news__inner.animation.fadeInUp
			.news__ttl
				ul
					li
						a(href='javascript:void(0)') すべて
					li
						a(href='javascript:void(0)') News
					li
						a(href='javascript:void(0)') Blog
			.news__cnt
				ul.news__cnt__tab
					li
						p.date 2021.01.19
						p.label お知らせ
						p.link
							a(href='#') 情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、
					li
						p.date 2021.01.19
						p.label お知らせ
						p.link
							a(href='#') 情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、
					li
						p.date 2021.01.19
						p.label お知らせ
						p.link
							a(href='#') 情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、
				ul.news__cnt__tab
					li
						p.date 2021.01.19
						p.label お知らせ
						p.link
							a(href='#') 情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、
				ul.news__cnt__tab
					li
						p.date 2021.01.19
						p.label お知らせ
						p.link
							a(href='#') 情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、
					li
						p.date 2021.01.19
						p.label お知らせ
						p.link
							a(href='#') 情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った時、
			.news__view_more
				a(href='#') お知らせ
