section.message
	.section__ttl.align_rgt
		.container
			p.is-en.animation.fadeInRgt MESSAGE
			h2.sub_ttl.animation.fadeInRgt メッセージ
	.message__inner
		.container
			.message__cnt
				.message__cnt__img.animation.fadeInLft
					picture
						source(media='(max-width:750px)' srcset!='/<?= $dir; ?>assets/images/main/message_img_sp.png')
						img(src!='/<?= $dir; ?>assets/images/main/message_img.jpg' alt='')
				.message__cnt__txt.animation.fadeInRgt
					p.message__cnt__ttl
						| コミュニケーションを重視し
						br.sp_only
						| 患者さまファーストな診療を
					p.text
						| 当院は父と私の２代にわたり、この地域の患者さまとの信頼関係を何よりも大切に診療してまいりました。
						br
						| おかげさまで３世代、４世代にわたってご家族で通ってくださる患者さまが多く、親しまれております。
						br
						| 今後も地域の皆さまに寄り添った歯科医療をご提供していくことで、
						br
						| ご期待以上の歯科治療をお届けできるように努めてまいります。
