section.service
	.container
		.section__ttl.align_lft
			p.is-en.pc__mb__0.animation.fadeInLft SERVICE
			h2.sub_ttl.animation.fadeInLft 診療メニュー
		.service__cnt.animation.fadeInUp
			p.align_center
				| 当院の診療内容をご案内します。幅広い
				br.sp_only
				| 診療で、症状、お悩みを解決いたします。
			ul.service__list
				li
					a.btn__arrow(href!='/<?= $dir; ?>services/#service_1') むし歯
				li
					a.btn__arrow(href!='/<?= $dir; ?>services/#service_2') 根管治療
				li
					a.btn__arrow(href!='/<?= $dir; ?>services/#service_3') 歯周病
				li
					a.btn__arrow(href!='/<?= $dir; ?>services/#service_4') 入れ歯(義歯)
				li
					a.btn__arrow(href!='/<?= $dir; ?>services/#service_5') 小児歯科
				li
					a.btn__arrow(href!='/<?= $dir; ?>services/#service_6') 予防・クリーニング
				li
					a.btn__arrow(href!='/<?= $dir; ?>services/#service_7') 歯科口腔外科
				li
					a.btn__arrow(href!='/<?= $dir; ?>services/#service_8') 矯正歯科・小児矯正
				//- li
					a.btn__arrow(href!='/<?= $dir; ?>services/#service_8') 小児矯正
				li
					a.btn__arrow(href!='/<?= $dir; ?>services/#service_9') 審美治療
				li
					a.btn__arrow(href!='/<?= $dir; ?>services/#service_10') ホワイトニング
				li
					a.btn__arrow(href!='/<?= $dir; ?>services/#service_11') インプラント
			.see_more.align_rgt
				a.btn__arrow(href!='/<?= $dir; ?>services/') 診療案内
