section.staff_md
  .container
    .section__ttl.pc__mb__85.sp__mb__30
      p.is-en.animation.fadeInLft DENTIST
      h2.sub_ttl.animation.fadeInLft 歯科医師紹介
    .blog__row.blog__row--staff
      .blog__img.animation.fadeInLft
        .blog__img__mask.blog__img__mask--revert
          picture
            source(media='(max-width:750px)' srcset='')
            img(src!='/<?= $dir; ?>assets/images/main/dentist_01.jpg' width='501' height='601')
      .blog__cnt.animation.fadeInRgt
        .blog__cnt__name
          span ビスカクリニック 院長
        h3.color_black
          | 山田　太郎 
          span.label.label--white ヤマダ　タロウ
        h4.sp_align_center
          | 町の頼れる歯
          br.sp_only
          | 医者さんをめざして
        p
          | 皆さまこんにちは。【ビスカ歯科クリニック】院長の〇〇 〇〇です。当院は〇〇年に開院以来、2代続く歴史があり、地域の皆さまに寄り添い信頼関係を大切に診療してまいりました。
          br
          | まずは患者さまを自分の身内と考え、優しく親身にご相談にお応えするように、スタッフにも教育を徹底しております。
          br
          | また、いつも同じスタッフが一貫して治療にあたる担当制を導入いたしました。温かい雰囲気で安心して治療をお受けいただけるよう、いつでもおなじみのスタッフがお待ちしています。
          br
          | 治療が終わった後も患者さまがお口のことを何でも相談できる歯医者さんとして、末永くお付き合いできるよう願っております。
          br
          | 小さなお子さまからシニアの方まで、お口に関することはなんでもご相談ください。
      .blog__list.pc__mt__80.animation.fadeInUp
        h3.align_center 経歴
        ul.w700
          li
            p.date 2021.00.00
            p.link テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          li
            p.date 2021.00.00
            p.link テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          li
            p.date 2021.00.00
            p.link テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          li
            p.date 2021.00.00
            p.link テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      .blog__list.pc__mt__80.animation.fadeInUp
        h3.align_center 資格・所属
        ul.w700
          li テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          li テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          li テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          li テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      //- .blog__list__row
        .blog__list__col.animation.fadeInLft
          .blog__list
            h4 資格
            ul
              li
                p.date 2021.00.00
                p.link
                  span テキストテキストテキストテキストテキスト
              li
                p.date 2021.00.00
                p.link
                  span テキストテキストテキストテキストテキスト
              li
                p.date 2021.00.00
                p.link
                  span テキストテキストテキストテキストテキスト
              li
                p.date 2021.00.00
                p.link
                  span テキストテキストテキストテキストテキスト
        //- .blog__list__col.animation.fadeInRgt
          .blog__list
            h4 所属
            ul
              li
                p.date 2021.00.00
                p.link
                  span テキストテキストテキストテキストテキスト
              li
                p.date 2021.00.00
                p.link
                  span テキストテキストテキストテキストテキスト
              li
                p.date 2021.00.00
                p.link
                  span テキストテキストテキストテキストテキスト
              li
                p.date 2021.00.00
                p.link
                  span テキストテキストテキストテキストテキスト
    .blog__row.blog__row--staff
      .blog__img.animation.fadeInLft
        .blog__img__mask.blog__img__mask--revert
          picture
            source(media='(max-width:750px)' srcset='')
            img(src!='/<?= $dir; ?>assets/images/main/dummy.jpg' alt='')
      .blog__cnt.animation.fadeInRgt
        .blog__cnt__name
          span 歯科医師
        h3.color_black
          | 日本	ビスカ
          span.label.label--white ニホン　ビスカ
        h4
          | 地域の歯医者さんとして
          br
          | 患者さまに寄り添っていきます
        p
          | こんにちは。前院長の●● ●●です。
          br
          | 〇〇年よりこの地の皆さまに支えられ、おかげさまで親子2代にわたって地域の健康に貢献でき、非常にうれしく思っております。
          br
          | 今後は息子である●●院長をはじめ、信頼できるスタッフたちのサポートを行いつつ、一緒にこれからも地域の皆さまのお口の健康管理を行ってまいります。
          br
          | 皆さまのお役に立てるようまだまだ精一杯努めたいと思っておりますので、今後とも当院を何卒よろしくお願いいたします。
      .blog__list__row.pc__mt__40
        .blog__list__col.animation.fadeInLft
          .blog__list
            h4 経歴
            ul
              li
                p.date 2021.00.00
                p.link
                  span テキストテキストテキストテキストテキスト
              li
                p.date 2021.00.00
                p.link
                  span テキストテキストテキストテキストテキスト
              li
                p.date 2021.00.00
                p.link
                  span テキストテキストテキストテキストテキスト
              li
                p.date 2021.00.00
                p.link
                  span テキストテキストテキストテキストテキスト
        .blog__list__col.animation.fadeInRgt
          .blog__list
            h4 資格・所属
            ul
              li テキストテキストテキストテキストテキスト
              li テキストテキストテキストテキストテキスト
              li テキストテキストテキストテキストテキスト
              li テキストテキストテキストテキストテキスト
    .blog__row.blog__row--staff
      .blog__img.animation.fadeInLft
        .blog__img__mask.blog__img__mask--revert
          picture
            source(media='(max-width:750px)' srcset='')
            img(src!='/<?= $dir; ?>assets/images/main/dummy.jpg' alt='')
      .blog__cnt.animation.fadeInRgt
        .blog__cnt__name
          span 歯科医師
        h3.color_black
          | 日本	ビスカ
          span.label.label--white ニホン　ビスカ
        h4
          | 地域の歯医者さんとして
          br
          | さまに寄り添っていきます
        p
          | こんにちは。前院長の●● ●●です。
          br
          | 〇〇年よりこの地の皆さんに支えられ、おかげさまで親子2代にわたって地域の健康に貢献でき、非常にうれしく思っております。
          br
          | 今後は息子である●●院長をはじめ、信頼できるスタッフたちのサポートを行いつつ、一緒にこれからも地域の皆さまのお口の健康管理を行ってまいります。
          br
          | 皆さまのお役に立てるようまだまだ精一杯努めたいと思っておりますので、今後とも当院を何卒よろしくお願いいたします。
      .blog__list__row.pc__mt__40
        .blog__list__col.animation.fadeInLft
          .blog__list
            h4 経歴
            ul
              li
                p.date 2021.00.00
                p.link テキストテキストテキストテキストテキスト
              li
                p.date 2021.00.00
                p.link テキストテキストテキストテキストテキスト
              li
                p.date 2021.00.00
                p.link テキストテキストテキストテキストテキスト
              li
                p.date 2021.00.00
                p.link テキストテキストテキストテキストテキスト
        .blog__list__col.animation.fadeInRgt
          .blog__list
            h4 資格・所属
            ul
              li テキストテキストテキストテキストテキスト
              li テキストテキストテキストテキストテキスト
              li テキストテキストテキストテキストテキスト
              li テキストテキストテキストテキストテキスト
