.staff_third
  .container
    .section__ttl.pc__mb__90.sp__mb__50
      p.is-en.animation.fadeInLft STAFF
      h2.sub_ttl.animation.fadeInLft スタッフ紹介
    .blog__row.blog__row--staff.sp__pr__10.sp__pl__10
      .blog__col.blog__col--md3.animation.fadeInLft
        .blog__img__mask.blog__img__mask--revert
          picture
            source(media='(max-width:750px)' srcset='')
            img(src!='/<?= $dir; ?>assets/images/main/dummy.jpg' alt='')
        .blog__cnt.blog__cnt--full
          .blog__cnt__name
            a(href='#') 歯科衛生士
          h3.color_black.fz24
            | 日本	ビスカ
            span.label.label--white ヤマダ　タロウ
          p テキストテキストテキスト<br>テキストテキストテキストテキスト
      .blog__col.blog__col--md3.animation.fadeInUp
        .blog__img__mask.blog__img__mask--revert
          picture
            source(media='(max-width:750px)' srcset='')
            img(src!='/<?= $dir; ?>assets/images/main/dummy.jpg' alt='')
        .blog__cnt.blog__cnt--full
          .blog__cnt__name
            a(href='#') 歯科衛生士
          h3.color_black.fz24
            | 日本	ビスカ
            span.label.label--white ヤマダ　タロウ
          p テキストテキストテキスト<br>テキストテキストテキストテキスト
      .blog__col.blog__col--md3.animation.fadeInRgt
        .blog__img__mask.blog__img__mask--revert
          picture
            source(media='(max-width:750px)' srcset='')
            img(src!='/<?= $dir; ?>assets/images/main/dummy.jpg' alt='')
        .blog__cnt.blog__cnt--full
          .blog__cnt__name
            a(href='#') 歯科衛生士
          h3.color_black.fz24
            | 日本	ビスカ
            span.label.label--white ヤマダ　タロウ
          p テキストテキストテキスト<br>テキストテキストテキストテキスト
.container.align_center.mb__250.animation.fadeInUp
  p.mask_image
    img(src!='/<?= $dir; ?>assets/images/main/dummy_big.jpg' alt='')
