section.staff_first
	.container
		.staff_first__inner
			.staff_first__cnt.animation.fadeInLft
				h2.is-ttl
					| コミュニケーションを重視し
					br
					| 患者さまファーストな診療を
				p
					| 当院は父と私の2代にわたり、この地域の患者さまとの信頼関係を何よりも大切に診療してまいりました。
					br
					| おかげさまで3世代、4世代にわたってご家族で通ってくださる患者さまが多く、親しまれております。
					br
					| 今後も地域の皆さまに寄り添った歯科医療をご提供していくことで、ご期待以上の歯科治療をお届けできるように努めてまいります。
			.staff_first__img.animation.fadeInRgt
				.staff_first__img__mask
					picture
						source(media='(max-width:750px)' srcset='')
						img(src!='/<?= $dir; ?>assets/images/main/nap_img_1.jpg' alt='')
