section.facility
	.container
		.section__ttl.pc__mb__90.sp__mb__30.align_rgt
			p.is-en.animation.fadeInRgt FACILITY
			h2.sub_ttl.animation.fadeInRgt 設備紹介
		.blog__list__row.animation.fadeInUp
			.blog__list__col
				.blog__img__mask.blog__img__mask--revert
					picture
						source(media='(max-width:750px)' srcset='')
						img(src!='/<?= $dir; ?>assets/images/main/facility_01.jpg' alt='')
				.blog__cnt.blog__cnt--full
					h3.color_black.align_center.fz24 デジタルレントゲン
					p 従来のレントゲンと比べて被ばく量が1/10ほどに抑えられるため、身体への負担が少なく済むことが特徴です。
			.blog__list__col
				.blog__img__mask.blog__img__mask--revert
					picture
						source(media='(max-width:750px)' srcset='')
						img(src!='/<?= $dir; ?>assets/images/main/facility_02.jpg' alt='')
				.blog__cnt.blog__cnt--full
					h3.color_black.align_center.fz24 滅菌器
					p お口に入る器具はすべてこの滅菌器を通した清潔なものを使い、患者さまごと・使用ごとに取り換え、院内感染防止に努めています。
		.blog__list__row.animation.fadeInUp
			.blog__list__col
				.blog__img__mask.blog__img__mask--revert
					picture
						source(media='(max-width:750px)' srcset='')
						img(src!='/<?= $dir; ?>assets/images/main/facility_03.jpg' alt='')
				.blog__cnt.blog__cnt--full
					h3.color_black.align_center.fz24 口腔外バキューム
					p 治療中に飛び散った唾液や、歯や詰め物・被せ物を削った際に出る粉塵を瞬時に吸い込む機械です。
			.blog__list__col
				.blog__img__mask.blog__img__mask--revert
					picture
						source(media='(max-width:750px)' srcset='')
						img(src!='/<?= $dir; ?>assets/images/main/facility_04.jpg' alt='')
				.blog__cnt.blog__cnt--full
					h3.color_black.align_center.fz24 マイクロスコープ
					p 国内ではまだ導入率の低い、歯科用顕微鏡「マイクロスコープ」を導入。患部を何十倍も拡大視でき、精密な治療に役立てています。
		.blog__list__row.animation.fadeInUp
			.blog__list__col
				.blog__img__mask.blog__img__mask--revert
					picture
						source(media='(max-width:750px)' srcset='')
						img(src!='/<?= $dir; ?>assets/images/main/facility_05.jpg' alt='')
				.blog__cnt.blog__cnt--full
					h3.color_black.align_center.fz24 口腔内カメラ
					p 患者さまに、歯やお口の中の状態をリアルタイムで詳しく伝えられるよう、口腔内カメラを導入しています。
			.blog__list__col
				.blog__img__mask.blog__img__mask--revert
					picture
						source(media='(max-width:750px)' srcset='')
						img(src!='/<?= $dir; ?>assets/images/main/facility_06.jpg' alt='')
				.blog__cnt.blog__cnt--full
					h3.color_black.align_center.fz24 電動麻酔器
					p 電動麻酔器を用いることで、コンピューター制御で麻酔液を一定の圧力でゆっくりと注入し、痛みを軽減することができます。
