section.equipment
	.container
		.equipment__inner
			.equipment__inner__ttl
				h2.is-ttl.align_center.animation.fadeInUp
					span 緊急対応設備
				p.align_center.animation.fadeInUp 緊急時に備えて、各種設備を備えています。
			.blog__row.mb__0
				.blog__col.blog__col--md3.animation.fadeInLft
					.blog__img__mask
						picture
							source(media='(max-width:750px)' srcset='')
							img(src!='/<?= $dir; ?>assets/images/main/facility_07.jpg' alt='')
					.blog__cnt.blog__cnt--full
						h3.color_black.align_center.fz24 AED
						p AEDは、不整脈による心停止の際に、心臓に電気ショックを与えて正常なリズムに戻すための医療機器です。
				.blog__col.blog__col--md3.animation.fadeInUp
					.blog__img__mask
						picture
							source(media='(max-width:750px)' srcset='')
							img(src!='/<?= $dir; ?>assets/images/main/facility_08.jpg' alt='')
					.blog__cnt.blog__cnt--full
						h3.color_black.align_center.fz24 パルスオキシメーター
						p 指にはめるだけで、動脈の血中酸素飽和度と脈拍数が測定できる医療機器です。
				.blog__col.blog__col--md3.animation.fadeInRgt
					.blog__img__mask
						picture
							source(media='(max-width:750px)' srcset='')
							img(src!='/<?= $dir; ?>assets/images/main/facility_09.jpg' alt='')
					.blog__cnt.blog__cnt--full
						h3.color_black.align_center.fz24 生体情報モニター
						p 全身状態を把握しながら、急な体調の変化にいち早く対応できるよう備えています。
