section.gallery_clinic
	.container
		.blog__list__row
			.blog__list__col.animation.fadeInLft.blog__clinic_block
				.blog__clinic_cnt
					h3.fz24
						| 外来環
						span.txt_block (歯科外来診療環境体制)
					p
						| 外来環(歯科外来診療環境体制)は、厚生労働省が定めた医療機関の基準のことです。
						br
						| 「院内感染を防ぐために、器具の滅菌などの衛生管理を徹底している」「緊急時に応急処置ができる装置を備えている」などの厳しい基準がありますが、当院はそのすべてをクリアしております。
			.blog__list__col.animation.fadeInRgt.blog__clinic_block
				.blog__clinic_cnt.blog__clinic_cnt--gray
					h3.fz24
						| か強診
						span.txt_block (かかりつけ歯科医機能強化型歯科診療所)
					p
						| 厚生労働省では「むし歯にさせない、歯を失わないための継続的な予防・メンテナンスを行える歯科診療所」を「かかりつけ歯科医機能強化型歯科診療所」として認可しています。当院はこの「か強診」に認定されております。
						br
						| かかりつけの歯科医院があると、歯科疾患の総合的・継続的な口腔管理が可能になります。
