section.gallery_clinic
	.container
		.section__ttl.mb__60
			p.is-en.animation.fadeInLft CLINIC
			h2.sub_ttl.animation.fadeInLft 院内紹介
		.gallery_clinic__gallery.gallery.animation.fadeInUp
			.gallery_clinic__slider.mask_image
				p
					img(src!='/<?= $dir; ?>assets/images/main/clinic_slide_1.jpg' alt='')
				p
					img(src!='/<?= $dir; ?>assets/images/main/clinic_slide_2.jpg' alt='')
				p
					img(src!='/<?= $dir; ?>assets/images/main/clinic_slide_3.jpg' alt='')
				p
					img(src!='/<?= $dir; ?>assets/images/main/clinic_slide_1.jpg' alt='')
				p
					img(src!='/<?= $dir; ?>assets/images/main/clinic_slide_2.jpg' alt='')
				p
					img(src!='/<?= $dir; ?>assets/images/main/clinic_slide_3.jpg' alt='')
				p
					img(src!='/<?= $dir; ?>assets/images/main/clinic_slide_3.jpg' alt='')
		.gallery_clinic__cnt.animation.fadeInUp
			ul
				li
					h3
						span 受付
					p.align_center スタッフが明るく笑顔でお迎えし、丁寧な対応を心がけております。
				li
					h3
						span 待合室
					p.align_center 明るく清潔感のある空間づくりを心がけております。
				li
					h3
						span 診療室
					p.align_center まわりの方を気にすることなく治療を受けていただけます。
				li
					h3
						span 受付
					p.align_center スタッフが明るく笑顔でお迎えし、丁寧な対応を心がけております。
				li
					h3
						span 待合室
					p.align_center 明るく清潔感のある空間づくりを心がけております。
				li
					h3
						span 診療室
					p.align_center まわりの方を気にすることなく治療を受けていただけます。
				li
					h3
						span 診療室
					p.align_center まわりの方を気にすることなく治療を受けていただけます。

		.gallery_clinic__thumb.animation.fadeInUp
			ul
				li
					a(href='javascript:void(0)')
						span.mask_small
							img(src!='/<?= $dir; ?>assets/images/main/clinic_slide_1.jpg' alt='')
				li
					a(href='javascript:void(0)')
						span.mask_small
							img(src!='/<?= $dir; ?>assets/images/main/clinic_slide_2.jpg' alt='')
				li
					a(href='javascript:void(0)')
						span.mask_small
							img(src!='/<?= $dir; ?>assets/images/main/clinic_slide_3.jpg' alt='')
				li
					a(href='javascript:void(0)')
						span.mask_small
							img(src!='/<?= $dir; ?>assets/images/main/clinic_slide_1.jpg' alt='')
				li
					a(href='javascript:void(0)')
						span.mask_small
							img(src!='/<?= $dir; ?>assets/images/main/clinic_slide_2.jpg' alt='')
				li
					a(href='javascript:void(0)')
						span.mask_small
							img(src!='/<?= $dir; ?>assets/images/main/clinic_slide_3.jpg' alt='')
				li
					a(href='javascript:void(0)')
						span.mask_small
							img(src!='/<?= $dir; ?>assets/images/main/clinic_slide_3.jpg' alt='')
