section.access
  .container
    .section__ttl.pc__mb__110.sp__mb__30
      p.is-en.animation.fadeInLft ACCESS MAP
      h2.sub_ttl.animation.fadeInLft アクセスマップ
    .mcenter.mb__55.animation.fadeInUp
      img(src!='/<?= $dir; ?>assets/images/main/dummy_big_2.jpg' alt='')
    .see_more.align_center
      a.btn__arrow(href!='/<?= $dir; ?>facilities/') Google Map
    .blog__row.pc__mb__200
      .blog__col.blog__col--md3.animation.fadeInLft
        .blog__img__mask.blog__img__mask--revert
          picture
            source(media='(max-width:750px)' srcset='')
            img(src!='/<?= $dir; ?>assets/images/main/dummy.jpg' alt='')
      .blog__col.blog__col--md3.animation.fadeInUp
        .blog__img__mask.blog__img__mask--revert
          picture
            source(media='(max-width:750px)' srcset='')
            img(src!='/<?= $dir; ?>assets/images/main/dummy.jpg' alt='')
      .blog__col.blog__col--md3.animation.fadeInRgt
        .blog__img__mask.blog__img__mask--revert
          picture
            source(media='(max-width:750px)' srcset='')
            img(src!='/<?= $dir; ?>assets/images/main/dummy.jpg' alt='')
    .access__infor
      h3.animation.fadeInUp 交通情報
      ul.animation.fadeInUp
        li
          h4.icon_car 車でのアクセス
          p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        li
          h4.icon_train 電車でのアクセス
          p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        li
          h4.icon_bus バスでのアクセス
          p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    .access__list
      h3.animation.fadeInUp
        span 当院へのアクセス
      ul.animation.fadeInUp
        li
          .access__list__cnt
            p.access__list__number 1
            p.access__list__img
              img(src!='/<?= $dir; ?>assets/images/main/dummy.jpg' alt='')
            p.access__list__txt テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        li
          .access__list__cnt
            p.access__list__number 2
            p.access__list__img
              img(src!='/<?= $dir; ?>assets/images/main/dummy.jpg' alt='')
            p.access__list__txt テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        li
          .access__list__cnt
            p.access__list__number 3
            p.access__list__img
              img(src!='/<?= $dir; ?>assets/images/main/dummy.jpg' alt='')
            p.access__list__txt テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        li
          .access__list__cnt
            p.access__list__number 4
            p.access__list__img
              img(src!='/<?= $dir; ?>assets/images/main/dummy.jpg' alt='')
            p.access__list__txt テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        li
          .access__list__cnt
            p.access__list__number 5
            p.access__list__img
              img(src!='/<?= $dir; ?>assets/images/main/dummy.jpg' alt='')
            p.access__list__txt テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        li
          .access__list__cnt
            p.access__list__number 6
            p.access__list__img
              img(src!='/<?= $dir; ?>assets/images/main/dummy.jpg' alt='')
            p.access__list__txt テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
