.endpart
	.container
		section#block_1.block-cnt.no-order
			.section__ttl.pc__mb__20.sp__mb__30
				p.is-en.animation.fadeInLft PATTERN 2
				h2.sub_ttl.animation.fadeInLft パターン 2
			.blog__row.pc__mb__105.sp__mb__50.sp__pt__20
				.blog__img.animation.fadeInLft
					.blog__img__mask.blog__img__mask--revert
						picture
							source(media='(max-width:750px)' srcset='')
							img(src!='/<?= $dir; ?>assets/images/main/dummy_1.jpg' width='450' height='281')
				.blog__cnt.pl__0.animation.fadeInRgt
					ul.blog__cnt__list.mb__25
						li テキストテキストテキストテキストテキスト
						li テキストテキストテキストテキストテキスト
						li テキストテキストテキストテキストテキスト
						li テキストテキストテキストテキストテキスト
					ul.blog__cnt__list.--dot
						li テキストテキストテキストテキストテキスト
						li テキストテキストテキストテキストテキスト
						li テキストテキストテキストテキストテキスト
						li テキストテキストテキストテキストテキスト
				.blog__notice
					p
						| テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
		section#block_2.block-cnt
			h2.block-cnt__ttl.align_center パターン 3
			p.block-cnt__desc.align_center PATTERN 3
			.blog__row.pc__mb__85.sp__pt__30
				.blog__cnt.pc__pr__50.pl__0.animation.fadeInLft
					h3.sub__ttl テキストテキストテキストテキスト
					p
						| テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
				.blog__img.pc__pl__50.pr__0.animation.fadeInRgt
					.blog__img__mask.blog__img__mask--revert
						picture
							source(media='(max-width:750px)' srcset='')
							img(src!='/<?= $dir; ?>assets/images/main/dummy_1.jpg' width='450' height='281')
		section#block_3.block-cnt.pc__mb__245.sp__mb__100
			.blog__row
				.blog__img.pt__20.pc__pr__50.pl__0.animation.fadeInLft
					.blog__img__mask.blog__img__mask--revert
						picture
							source(media='(max-width:750px)' srcset='')
							img(src!='/<?= $dir; ?>assets/images/main/dummy_1.jpg' width='450' height='281')
				.blog__cnt.pc__pl__50.pr__0.animation.fadeInRgt
					h2.block-cnt__ttl パターン 4
					p.block-cnt__desc.pc__mb__35 PATTERN 4
					h3.sub__ttl テキストテキストテキストテキスト
					p
						| テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
		section#block_4.block-cnt.pc__mb__130
			h2.block-cnt__ttl.align_center パターン 5
			p.block-cnt__desc.align_center.pc__mb__50 PATTERN 5
			.blog__row.sp__pt__30.mb__0
				.blog__img.pc__pr__50.pl__0.animation.fadeInLft
					.blog__img__mask.--radius45
						p.block-cnt__number 1
						picture
							source(media='(max-width:750px)' srcset='')
							img(src!='/<?= $dir; ?>assets/images/main/dummy_1.jpg' width='450' height='281')
				.blog__cnt.pc__pl__50.pr__0.animation.fadeInRgt
					p.introduce__col__number
						span Step 01
					h3.sub__ttl.--no-line テキストテキストテキストテキスト
					p
						| テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
			.blog__row.mb__0
				.blog__img.pc__pr__50.pl__0.animation.fadeInLft
					.blog__img__mask.--radius45
						p.block-cnt__number 2
						picture
							source(media='(max-width:750px)' srcset='')
							img(src!='/<?= $dir; ?>assets/images/main/dummy_1.jpg' width='450' height='281')
				.blog__cnt.pc__pl__50.pr__0.animation.fadeInRgt
					p.introduce__col__number
						span Step 02
					h3.sub__ttl.--no-line テキストテキストテキストテキスト
					p
						| テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
			.blog__row.mb__0
				.blog__img.pc__pr__50.pl__0.animation.fadeInLft
					.blog__img__mask.--radius45
						p.block-cnt__number 3
						picture
							source(media='(max-width:750px)' srcset='')
							img(src!='/<?= $dir; ?>assets/images/main/dummy_1.jpg' width='450' height='281')
				.blog__cnt.pc__pl__50.pr__0.animation.fadeInRgt
					p.introduce__col__number
						span Step 03
					h3.sub__ttl.--no-line テキストテキストテキストテキスト
					p
						| テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
		section#block_5.block-cnt.pb__40.pt__50.pc__mb__215.sp__mb__50
			h2.block-cnt__ttl.align_center パターン 6
			p.block-cnt__desc.align_center.mb__30 PATTER 6
			.block-cnt__table
				table
					thead
						tr
							th
							th
								p
									| ex.入れ歯
							th
								p ex.ブリッジ
							th
								p ex.インプラント
					tbody
						tr
							th 審美面
							td テキストテキストテキストテキストテキストテキストテキストテキストテキスト
							td テキストテキストテキストテキストテキストテキストテキストテキストテキスト
							td テキストテキストテキストテキストテキストテキストテキストテキストテキスト
						tr
							th 機能面
							td テキストテキストテキストテキストテキストテキストテキストテキストテキスト
							td テキストテキストテキストテキストテキストテキストテキストテキストテキスト
							td テキストテキストテキストテキストテキストテキストテキストテキストテキスト
						tr
							th 特徴
							td
								p.align_center
									img(src!='/<?= $dir; ?>assets/images/main/table_dummy.png' alt='' width='' height='')
							td
								p.align_center
									img(src!='/<?= $dir; ?>assets/images/main/table_dummy.png' alt='' width='' height='')
							td
								p.align_center
									img(src!='/<?= $dir; ?>assets/images/main/table_dummy.png' alt='' width='' height='')
		section#block_6.block-cnt.pt__40.pc__mb__180.sp__mb__80
			h2.block-cnt__ttl.align_center パターン 7
			p.block-cnt__desc.align_center.pc__mb__55 PATTER 7
			.blog__row.sp__pt__30.mb__0
				.blog__img.pc__pr__50.pl__0.animation.fadeInLft
					.blog__img__mask.--radius45
						picture
							source(media='(max-width:750px)' srcset='')
							img(src!='/<?= $dir; ?>assets/images/main/dummy_1.jpg' width='450' height='281')
				.blog__cnt.pc__pl__50.pt__15.pr__0.animation.fadeInRgt
					h3.sub__ttl テキストテキストテキストテキスト
					p
						| テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
			.blog__row.mb__0
				.blog__img.pc__pr__50.pl__0.animation.fadeInLft
					.blog__img__mask.--radius45
						picture
							source(media='(max-width:750px)' srcset='')
							img(src!='/<?= $dir; ?>assets/images/main/dummy_1.jpg' width='450' height='281')
				.blog__cnt.pc__pl__50.pt__15.pr__0.animation.fadeInRgt
					h3.sub__ttl テキストテキストテキストテキスト
					p
						| テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
			.blog__row.mb__0
				.blog__img.pc__pr__50.pl__0.animation.fadeInLft
					.blog__img__mask.--radius45
						picture
							source(media='(max-width:750px)' srcset='')
							img(src!='/<?= $dir; ?>assets/images/main/dummy_1.jpg' width='450' height='281')
				.blog__cnt.pc__pl__50.pt__15.pr__0.animation.fadeInRgt
					h3.sub__ttl テキストテキストテキストテキスト
					p
						| テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
		section#block_7.block-cnt.--background-blue.pc__pt__70.pc__mb__200.sp__mb__100
			h2.block-cnt__ttl.align_center パターン 8
			p.block-cnt__desc.align_center.mb__10 PATTER 8
			.blog__row.sp__pt__30.mb__0.pb__0
				.blog__col.blog__col--md3.animation.fadeInLft.show
					.blog__img__mask.mb__10.--radius45
						picture
							source(media='(max-width:750px)' srcset='')
							img(src!='/<?= $dir; ?>assets/images/main/dummy_1.jpg' width='300' height='187')
					.blog__cnt.blog__cnt--full
						h3.sub__ttl.--no-line.align_center.mb__10 テキストテキストテキスト
						p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
				.blog__col.blog__col--md3.animation.fadeInUp.show
					.blog__img__mask.mb__10.--radius45
						picture
							source(media='(max-width:750px)' srcset='')
							img(src!='/<?= $dir; ?>assets/images/main/dummy_1.jpg' width='300' height='187')
					.blog__cnt.blog__cnt--full
						h3.sub__ttl.--no-line.align_center.mb__10 テキストテキストテキスト
						p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
				.blog__col.blog__col--md3.animation.fadeInRgt.show
					.blog__img__mask.mb__10.--radius45
						picture
							source(media='(max-width:750px)' srcset='')
							img(src!='/<?= $dir; ?>assets/images/main/dummy_1.jpg' width='300' height='187')
					.blog__cnt.blog__cnt--full
						h3.sub__ttl.--no-line.align_center.mb__10 テキストテキストテキスト
						p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
		section#block_8.block-cnt.mb__0
			h2.block-cnt__ttl.align_center パターン 9
			p.block-cnt__desc.align_center PATTER 9
			.blog__row.sp__pt__30
				.blog__img.pc__pr__50.pl__0.animation.fadeInLft.show
					.blog__img__mask.--radius45
						picture
							source(media='(max-width:750px)' srcset='')
							img(src!='/<?= $dir; ?>assets/images/main/dummy_1.jpg' width='450' height='281')
					.blog__img__mask.--radius45.--sub_img
						picture
							source(media='(max-width:750px)' srcset='')
							img(src!='/<?= $dir; ?>assets/images/main/dummy_1.jpg' width='228' height='143')
				.blog__cnt.pc__pl__140.pr__0.pc__pt__20.sp__pt__50.animation.fadeInRgt.show
					h3.sub__ttl.--no-line.mb__15 テキストテキストテキスト
					p
						| テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
		section#block_9.block-cnt.mb__0.no-order
			.blog__row.pt__10
				.blog__img.--full.pr__0.pl__0.animation.fadeInLft.show
					.blog__img__mask.--radius45
						picture
							source(media='(max-width:750px)' srcset='')
							img(src!='/<?= $dir; ?>assets/images/main/dummy_full.jpg' width='1000' height='300')
				.blog__cnt--full.--position-top.animation.fadeInRgt.show
					h3.align_center.blog__ttl.mb__15 パターン 10
					p
						| テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
		section#block_10.block-cnt.--background-blue.pc__pt__80.pc__mb__160
			h2.block-cnt__ttl.align_center.mb__20 パターン 11
			p.align_center.pc__mb__45
				| テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
				br
				|  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
			ul.blog__cnt__list.--flex
				li.fz20 テキストテキストテキストテキストテキストテキストテキストテキストテキスト
				li.fz20 テキストテキストテキストテキストテキストテキストテキストテキストテキスト
				li.fz20 テキストテキストテキストテキストテキストテキストテキストテキストテキスト
				li.fz20 テキストテキストテキストテキストテキストテキストテキストテキストテキスト
		section#block_11.block-cnt.--background-blue.--no-radius.pc__mb__200.sp__mb__100
			.blog__row.sp__pt__0.sp__pb__50
				.blog__cnt.--block-custom.animation.fadeInRgt
					h3.sub__ttl.--no-line.--blue.pb__0.mb__20 パターン 12
					p
						| テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
				.blog__img.--block-custom.animation.fadeInLft
					.blog__img__mask.blog__img__mask--revert
						picture
							source(media='(max-width:750px)' srcset='')
							img(src!='/<?= $dir; ?>assets/images/main/dummy_1.jpg' width='320' height='200')
	// end Content
